#vanillatoasts-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  font-family: 'Helvetica';
}

.vanillatoasts-toast {
  position: relative;
  padding: 20px 17px;
  margin: 20px;
  border-radius: 10px;
  background: #F5F5F5;
  cursor: pointer;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  animation-duration:  .3s;
  animation-name: VanillaToasts;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.vanillatoasts-fadeOut {
  animation-name: VanillaToastsFadeOut;
  animation-duration: .3s;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  animation-fill-mode: forwards;
}

#vanillatoasts-container p,
#vanillatoasts-container h4 {
  margin: 3px 0!important;
}

.vanillatoasts-title {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}

.vanillatoasts-text {
  font-size: 14px;
  color: #fff;
}

.vanillatoasts-icon {
  position: absolute;
  top: 5px;
  left: -40px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  background: #FFF;
}

.vanillatoasts-toast a, .vanillatoasts-toast a:hover {
  color: #549EDB !important;
  text-decoration: none !important;
}

/** toast types */
.vanillatoasts-success {
  background: #1cc889ce;
  color: #13855c;
  border-bottom: 6px solid #13855c;
}

.vanillatoasts-warning {
  background: #f6c23ece;
  color: #dda20a;
  border-bottom: 6px solid #dda20a;
}

.vanillatoasts-error {
  background: #e74a3bce;
  color: #be2617;
  border-bottom: 6px solid #be2617;
}

.vanillatoasts-info {
  background: #36b9ccce;
  color: #258391;
  border-bottom: 6px solid #258391;
}

@keyframes VanillaToasts {
  from {
    transform: translate3d(400px, 0, 0);;
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes VanillaToastsFadeOut {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(400px, 0, 0);
    opacity: 0;
  }
}
